[Desktop Entry]
Name=DoomRunner
Comment=Preset-oriented graphical launcher of various ported Doom engines
Exec=DoomRunner
Icon=/usr/share/icons/doomrunner.ico
Type=Application
Categories=Game
X-Desktop-File-Install-Version=0.26
